/* Setting custom color vars*/
:root {
  --mygray: #2D3047;
  --myyellow: #E0CA3C;
  --mylightyellow: #fef9c7;
  --myteal: #048A81;
  --mylightblue: #93B7BE;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Compacta';
}

/* Includes title and navbar */
header {
  display: flex;
  height: 76px;
  background-color: var(--mygray);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: solid 4px var(--myyellow);
}

#header-img {
  height: 60px;
  margin: 0px 10px;
  border-radius: 90px;
}

.page-title {
  margin-right: auto;
  padding: 5px 10px;
  display: inline-flex;
}

.page-title h2 {
  font-size: 25px;
  color: white;
  padding: 1px;
}

.page-title h3 {
  font-size: 15px;
  color:rgb(189, 189, 189);
  margin-top: -3px;
}

nav {
  float: right;
  display: flex;
  justify-content: space-evenly;
}

.main-nav li {
  display: inline-block;
  margin: 30px 10px;
}

.main-nav li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

.main-nav li a:hover {
  color: rgb(189, 189, 189);
  text-decoration: underline black 2px;
}

.banner {
  margin-top: 70px;
  width: 100%;
  height: 130px;
  background-color: rgb(189, 189, 189);
  position: relative
}

.banner h1 {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
  color:black;
}

/*set text color and alignment for full main div*/
main {
  text-align: center;
  color: var(--myteal);
  padding: 40px 90px;
  margin-top: 50px;
}

main h2 {
  color: black;
  font-size: 20px;
  padding: 20px 0px;
}

main article {
  padding: 10px;
}

#about-me {
  padding: 20px 22%;
  font-size: 20px;
  margin-top: -90px;
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proj-container figure {
  display: flex; 
  margin: 25px 15px;
  height: 225px;
  max-width: 375px;
}

.proj-container .card {
  position: relative;
  border: 5px solid var(--myteal);
  border-radius: 8px;
}

.proj-ss {
  opacity: 0.5;
  height: 100%;
  width: 100%;
}

/*background image will appear lighter until hovered over*/
.card img:hover {
  opacity: 1.0;
  box-shadow: 0 0 8px rgba(0, 38, 70, 0.6)
}

/*Placing headings over project image bottom left corners */
.card h3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--myyellow);
  padding: 12px 12px;
  border-top-right-radius: 8px;
  font-size: 16px;
}

.proj-gh {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#contact form {
  padding: 15px;
  background-color: var(--myyellow);
  border: 2px;
  border-radius: 8px;
  width: 350px;
  margin: auto;
}

#contact div {
  padding: 3px;
}

#contact input {
  height: 25px;
  margin: 3px;
}

#message {
  height: 100px;
  width: 280px;
  margin: 5px;
}

#contact h4 {
  padding: 20px 0px 10px;
  color: black;
}

#contact li {
  list-style-type: none;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}

#contact .icon {
  display: inline-block;
  padding: 15px 8px 0px;
}

footer {
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 10px;
  background-color: var(--myteal);
  border-top: 4px solid var(--myyellow);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}



/* Media Queries for resizing screen*/
@media only screen and (max-width: 700px) {
  header {
      height: 120px;
      flex-direction: column;
  }

  /*bring nav bar below page title*/
  .main-nav li {
      margin: 10px 15px;
  }

  /*make text smaller on smaller screens*/
  #about-me {
      font-size: 18px;
      padding: 20px 50px;
  }

  .card {
      max-height: 200px;
      min-width: 300px;
  }
}