/* Setting custom color vars*/
:root {
  --mygray: rgb(99, 99, 99);
  --myyellow: #e9d136;
  --mylightyellow: #fef9c7;
  --mydarkblue: #2D3047;
  --mylightblue: #93B7BE;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Compacta';
}

/* Includes title and navbar */
header {
  display: flex;
  height: 76px;
  background-color: var(--mydarkblue);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-bottom: solid 4px var(--myyellow);
}

#header-img {
  height: 60px;
  margin: 0px 10px;
  border-radius: 90px;
}

.page-title {
  margin-right: auto;
  padding: 5px 10px;
  display: inline-flex;
}

.page-title h2 {
  font-size: 25px;
  color: white;
  padding: 1px;
}

.page-title h3 {
  font-size: 15px;
  color:rgb(189, 189, 189);
  margin-top: -3px;
}

nav {
  float: right;
  display: flex;
  justify-content: space-evenly;
}

.main-nav li {
  display: inline-block;
  margin: 30px 10px;
}

.main-nav li a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

.main-nav li a:hover {
  color: rgb(189, 189, 189);
  text-decoration: underline black 2px;
}

.banner {
  margin-top: 70px;
  width: 100%;
  height: 150px;
  background-color: var(--myyellow);
  position: relative
}

.banner h1 {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
  color:black;
}

/*set text color and alignment for full main div*/
main {
  text-align: center;
  color: var(--mydarkblue);
  padding: 40px 90px 70px;
  margin-top: 20px;
}

main h2 {
  color: black;
  font-size: 20px;
  padding: 20px 0px;
}

main article {
  padding: 10px;
}

#about-me {
  padding: 20px 10%;
  font-size: 20px;
  margin-top: -50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

#about-me h2 {
  margin-bottom: 10px;
}

.proj-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proj-container figure {
  display: flex; 
  margin: 25px 10px;
  height: 225px;
  max-width: 370px;
}

.proj-container .card {
  position: relative;
  border: 5px solid var(--mydarkblue);
  border-radius: 10px;
  width: 500px;
  overflow: hidden;
}

.proj-ss {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

#gh-link {
  margin-top: 20px;
}

/*background image will appear lighter until hovered over*/
.card:hover {
  box-shadow: 0 0 8px rgba(0, 38, 70, 0.6)
}

.card img:hover {
  opacity: 1.0;
}

/*Placing headings over project image bottom left corners */
.card h3 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--myyellow);
  padding: 12px 12px;
  border-top-right-radius: 8px;
  font-size: 16px;
}

.proj-gh {
  position: absolute;
  bottom: 1px;
  right: 2px;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.proj-gh:hover {
  opacity: 1.0;
}

#contact {
  
}

#contact form {
  padding: 15px;
  background-color: var(--myyellow);
  border: solid var(--mydarkblue) 1px;
  border-radius: 8px;
  height: 325px;
  width: 350px;
  margin: auto;
}

#contact div {
  padding: 3px;
}

#contact input {
  height: 25px;
  width: 215px;
  margin: 3px;
}

#message {
  height: 125px;
  width: 280px;
  margin: 5px;
}

#contact h4 {
  padding: 20px 0px 10px;
  color: black;
}

#contact li {
  list-style-type: none;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}

#contact .icon {
  display: inline-block;
  padding: 15px 8px 0px;
}

#resumeimg {
  margin: 40px 0px 5px;
  height: 310px;
  width: 250px;
  border: solid 5px darkblue;
  border-radius: 10px;
  opacity: 0.75;
}

#resumeimg:hover {
  opacity: 1.0;
  box-shadow: 0 0 8px rgba(0, 28, 51, 0.6);
}

footer {
  text-align: center;
  font-size: 14px;
  color: white;
  padding: 10px;
  background-color: var(--mydarkblue);
  border-top: 4px solid var(--myyellow);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
}



/* Media Queries for resizing screen*/
@media only screen and (max-width: 700px) {
  header {
      height: 120px;
      flex-direction: column;
  }

  main {
    margin-top: 80px;
  }

  /*bring nav bar below page title*/
  .main-nav li {
      margin: 10px 5px;
  }

  .banner {
    margin-top: 120px;
    width: 100%;
    height: 90px;
    background-color: var(--myyellow);
    position: relative
  }

  /*make text smaller on smaller screens*/
  #about-me {
      font-size: 18px;
      padding: 0px 40px;
      margin-top: -75px;
  }

  .card {
      max-height: 200px;
      min-width: 300px;
  }
}